{% extends 'dashboardapp/base.html' %}
{% load static %}
{% block content %}
            <div class="row">
              <div class="card">
                <h5 class="card-header">1 "A" Class Table</h5>
                <a>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>Birth Data</th>
                        <th>Age</th>
                        <th>Sinfi</th>
                        <th>Maktabga qabul qilingan kun</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for pupil in pupils %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ pupil.full_name }}</strong></td>
                        <td>{{ pupil.birth_data }}</td>
                        <td><span class="badge bg-label-primary me-1">{{ pupil.age }}</span></td>
                        <td><span class="badge bg-label-primary me-1">{{ pupil.sinfi }}</span></td>
                        <td><span class="badge bg-label-primary me-1">{{ pupil.qabul_qilingan_kun }}</span></td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% endblock %}      